@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=IBM+Plex+Mono:wght@500&display=swap');

/* Сброс стилей */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Общие свойства, чтобы код не повторялся */
body {
  font-family: "Anonymous Pro", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: #121723;
}

.sneaker {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
  width: 100%;
  border-radius: 50px;
  background-color: #FFF;
}

.sneaker__img {
  width: 100%;
}

.sneaker__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sneaker__title {
  font-size: 48px;
  font-weight: 400;
}

.sneaker__subtitle {
  font-family: inherit;
  font-size: 36px;
}

.sneaker__details {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.sneaker__company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  width: 50%;
  line-height: 28px;
}

.sneaker__description {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sneaker__description-title {
  width: 100%;
  border-bottom: 1px solid #121723;
  padding-bottom: 20px;
}

.sneaker__description-title h3 {
  font-family: inherit;
  font-size: 30px;
  font-weight: 400;
}

.sneaker__description-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #121723;
  padding: 24px 0;
}

@media screen and (max-width: 376px) {
  body {
    font-size: 16px;
  }

  .sneaker {
    padding: 24px;
    flex-wrap: wrap;
    border-radius: 12px
  }

  .sneaker__title {
    font-size: 32px;
  }

  .sneaker__subtitle {
    font-size: 20px;
  }

  .sneaker__details {
    flex-direction: column;
  }

  .sneaker__company-text {
    width: 295px;
    font-size: 16px;
  }

  .sneaker__description {
    width: 100%;
  }

  .sneaker__description-title h3 {
    font-size: 24px;
  }
}