@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=IBM+Plex+Mono:wght@500&display=swap');

/* Сброс стилей */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Общие свойства, чтобы код не повторялся */
body {
  font-family: "Anonymous Pro", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: normal;
  font-weight: 700;
  color: #121723;
}

/* Заголовок h1 скрыл. так как использую логотип, но оставил его для семантики, поисковых систем и скринридера. Видел что так делают в HTML Академии/ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Вместо класса header использую этот класс. Считаю это название подходит лучше. */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1160px;
  height: 110px;
  margin: 0 auto;
  padding: 30px 0 16px;
}

.header__menu_items {
  display: flex;
  column-gap: 24px;
  list-style-type: none;
}

.header__menu_items {
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}


main {
  background-color: #E6E8EC66;
  border-top: 1px solid #A1A6B4;
}

h1 {
  font-size: 56px;
}

.main_wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 32px 0;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 48px;
  line-height: 100%;
  font-weight: 500;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.subtitle {
  margin-bottom: 24px;
}

.card {
  width: 370px;
  margin: 15px 0;
}

.card__description {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 32px 24px;
  background-color: white;
}

h3 {
  font-size: 26px;
}

p {
  font-weight: 400;
}

img {
  width: 370px;
}

footer {
  background-color: #121723;
}

/* Вместо класса footer использую этот класс. Считаю это название подходит лучше. */
.footer__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.footer__menu_items {
  list-style-type: none;
  display: flex;
  column-gap: 24px;
}

.footer__menu_item {
  color: white;
}

.footer__down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-top: 1px solid #E6E8EC66;
}

.footer__down_text {
  font-size: 16px;
  color: #A1A6B4;
}

@media screen and (max-width: 376px) {
  .header__wrapper {
    height: 156px;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 24px 0;
    column-gap: 24px;
  }

  .main_wrapper {
    padding: 32px 16px;
  }

  .subtitle {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 343px;
  }

  .card__image {
    width: 100%;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 16px 24px;
  }

  .footer__down {
    align-items: last baseline;
    height: 41px;
  }

  .footer__up {
    flex-direction: column;
  }
}